/* static/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: burlywood;
    transition: background-color 0.3s ease; /* Agrega una transición */
}

.container:hover {
    background-color: darkseagreen; /* Cambia el color de fondo al pasar el ratón */
}

h1 {
    color: #2c3e50;
    font-size: 2em; /* Ajusta el tamaño de fuente */
    margin-bottom: 10px; /* Añade margen inferior */
}

p {
    color: #2c3e50;
    font-size: 1.2em; /* Ajusta el tamaño de fuente */
    margin-top: 10px; /* Añade margen superior */
}